*{
	font-family:"Microsoft Yahei";
	line-height:30px;
	font-weight:bold!important;
}
body{
	padding-top:50px;
}
a{
	font-size:17px;
	line-height:20px;
	color:#2ecc71;
	font-weight:normal!important;
}
p{
	font-size:17px;
	line-height:20px;
	font-weight:normal!important;
}
h1{
	line-height:16px;
	font-size:35px;
}
h2{
	line-height:25px;
	font-size:20px;
}
button{
	background-color:#3498db;
}
ul li{
	list-style:none;
}
.navbar-brand{
	font-size:35px;
	color:white!important;
}
.nav a{
	color:white!important;
	
}
.nav a :hover{
	color:#696969;
}
.navbar-right{
	font-size:17px;
}
.navbar{
	background-color:#3498db;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
	color:#3498db;
}
.carousel-indicators li{ 
	background:#bdc3c7;
	border-radius:0px;
}
.carousel-indicators li.active {
   background-color:#3498db;
  }
.carousel .item img{
	margin:0 auto;
	width:720px;
	height:100%;
}
.pcover{
    background-color:white;
	width:100%;
	height:560px;
}
.coversize{
	padding-top:160px;
}
.pcover2{
    background-color:#ecf0f5!important;
	width:100%;
	height:400px;
}
.coversize2{
	padding-top:50px;
	padding-bottom:50px;
}
.pcover3{
	background-color:white;
	width:100%;
	height:600px;
}
.coversize3{
	padding-top:50px;
}
.pcover4{
	background-color:#ecf0f5;
	border:solid;
	width:100%;
	height:170px;
}
.btn-primary{
	background-color:#3498db;
}
.coversize4{
	padding-top:20px;
}
