#container{ 
    width: 720px;
    height: 404px; 
    overflow: hidden; 
	position: relative;
	margin: 0 auto;
	top: 20px;
}
#list{ 
    width: 4320px; 
	height: 404x; 
	position: absolute; 
	z-index: 1;
}
#list img{ 
    float: left;
}
#buttons{ 
    position: absolute; 
	height: 10px; 
	width: 100px; 
	z-index: 2;
    left: 90%;
	top: 95%;
}
#buttons span{ 
    cursor: pointer; 
	float: left;  
	width: 10px; 
	height: 10px; 
	background: #333; 
	margin-right: 7px;
}
#buttons .on{ 
    background: orangered;
}
.arrow{ 
	line-height: 39px; 
	text-decoration: none;
	display: none;
	text-align: center; 
	font-size: 36px; 
	font-weight: bold; 
	width: 40px; 
	height: 40px;  
	position: absolute; 
	z-index: 2; 
	top: 180px; 
	color: #bdc3c7;
}
#container:hover .arrow{ 
    display: block;
}
#prev{ 
    left: 20px;
}
#next{ 
    right: 20px;
}