<!DOCTYPE html>
<html lang="zh-CN">
  <head>
	{% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recallwolf's nest</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="{% static 'blog\css\main.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body data-spy="scroll" data-target=".navbar">
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
     <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><strong>RECALLWOLF</strong></a>
    </div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about"><strong>ABOUT</strong></a></li>
        <li><a href="#project"><strong>PROJECT</strong></a></li>
		<li><a href="#memorabilia"><strong>MEMORABILIA</strong></a></li>
		<li><a href="#contact"><strong>CONTACT</strong></a></li>
		<li><a href="weblog"><strong>MY BLOG</strong></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container pcover" id="about">
	<div class="row coversize">
		<div class="col-sm-3"></div>
		<div class="col-sm-3 text-center">
			<img src="{% static 'blog\image\pipboy.png' %}" width="160px" height="160px">
		</div>
		<div class="col-sm-4">
			<h1>DengShengHui</h1>
			<h2>Find An Interesting Place</h2>
			<p>College student</p>
			<p>ChangSha China</p>
			<p>A blog that records my projects and my awesome moment</p>
		</div>
	</div>
</div>

<div class="container pcover2" id="project">
	<div class="row coversize2 slideanim">
		<div class="col-sm-12 text-center">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<h1>Project</h1>
				<h2>March 20 2017</h2>
				<a href="https://github.com/recallwolf/Personal-Web-Development">Source Code</a>
				<p>Year: 2017-3</p>
				<p>Technology: HTML5 + CSS3 + <a href="http://jquery.com/">jQuery</a></p>
				<h2>April 13 2017</h2>
				<p>Add <a href="http://www.bootcss.com/">Bootstrap</a> framework</p>
				<p>Add responsive layout</p>
				<h2>April 29 2017</h2>
				<p>Add Django background service</p>
				<p>Technology: Django + Ajax</p>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</div>
</div>

<div class="container pcover3 text-center" id="memorabilia">
<div class="row coversize3 slideanim">
<div class="col-sm-12 text-center">
<h1 style="padding:20px 0">Hello World!</h1>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	<li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{% static 'blog\image\bf1.jpg' %}" alt="...">
      <div class="carousel-caption"></div>
    </div>
    <div class="item">
      <img src="{% static 'blog\image\witcher.jpg' %}" alt="...">
      <div class="carousel-caption"></div>
    </div>
    <div class="item">
      <img src="{% static 'blog\image\me4.jpg' %}" alt="...">
      <div class="carousel-caption"></div>
    </div>
	<div class="item">
      <img src="{% static 'blog\image\tesv.jpg' %}" alt="...">
      <div class="carousel-caption"></div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>
</div>


<div class="container pcover5" id="contact">
	<h1 style="padding-top:30px;text-align:center">Contact</h1>
		<div class="row coversize5 slideanim">
			<div class="col-sm-5 text-center">
				<p><strong>Would like to make friends with you and I am keen on learning.<br>If you are interested in my website, message me .</strong></p>
			</div>
			<form id="contact-form">
				<div class="col-sm-7">
					<div class="row">
						<div class="col-sm-6 form-group">
							<input class="form-control" id="name" name="name" placeholder="Name" type="text">
						</div>
						<div class="col-sm-6 form-group">
							<input class="form-control" id="email" name="email" placeholder="Email" type="email">
						</div>
						<div class="col-sm-12" style="padding-top:20px">
							<textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
						</div>
						<div class="col-sm-12 form-group text-right" style="padding-top:20px">
							<!--<button class="btn btn-primary" type="submit" data-toggle="modal" data-target=".bs-example-modal-sm" id="message_send" >Send</button>-->
							<input type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm" value="send" id="message_send">
						</div>
					</div>
				</div>
			</form>
		</div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content text-center">
			<span id="message_re"></span>
		</div>
	</div>
</div>

<hr>


<a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Something Strange
</a>
<div class="collapse" id="collapseExample">
	<div class="container pcover4">
		<div class="row coversize4">
			<div class="col-sm-12 text-center">
				<p><strong>{{ tip.tip1 }}</strong></p>
				<p><strong>{{ tip.tip2 }}</strong></p>
			</div>
		</div>
	</div>
</div>
<hr>

<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center">
			<p><strong>© Deng Sheng Hui | 2017</strong></p>
			<p><strong>赣ICP备:17004720号</strong></p>
		</div>
	</div>
</div>

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery-validate/1.15.1/jquery.validate.js"></script>
	<script src="{% static 'blog\js\animate.js' %}"></script>
	<script src="{% static 'blog\js\slide.js' %}"></script>
	
	<script>
			$(document).ready(function(){
				$("#contact-form").validate({ 
					rules:{ 
						name:{ 
							required:true
						},
						email:{ 
							email:true
						},
						comments:{ 
							required:true
						}

					},

					messages:{ 
						name:{
							required: "Please enter your name  _(:з」∠)_",
						},
						email:{
							email: "The email address is invalid  _(:з」∠)_",
						},
						comments:{
							required: "Say hello!  :- )"
						}
					}
				});
			});
	</script>
	
	<script>
			$(document).ready(function(){
				$("#message_send").click(function(){
					$.ajaxSetup({  
						data: {csrfmiddlewaretoken: '{{ csrf_token }}' },  
					});  
						if ($("#name").val()==""||$("#comments").val()==""){
							$("#message_re").text("The message is null");
							$("#contact-form").valid(); 
						}
						else{
							$.ajax({
								type:"POST",
								url:"{% url 'blog:message' %}",
								data: {
								name: $("#name").val(),
								email: $("#email").val(),
								comments: $("#comments").val()
								},
						
						
								success:function(){
									$("#email").val("");
									$("#comments").val("");
									$("#message_re").text("Thanks for your message!");
								},
								error:function(){
									$("#message_re").text("Oops.. something went wrong.");
								},
							});
						}
				});
			});
	</script>
	
  </body>
</html>




























     
